<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration >
    <appender name="logFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./structured_stream.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n"/>
        </layout>
    </appender>

    <!--for natty log is too verbose, annoying-->
    <logger name="com.joestelmach.natty">
        <level value="WARN"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="logFile"/>
    </root>
</log4j:configuration>